<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kengogithubmonitorapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6719647c-5ff4-4cce-b5e9-485fbf0cd5d4/resourcegroups/AzureFunctionDemo/providers/Microsoft.Web/sites/KenGoGitHubMonitorApp</ResourceId>
    <UserName>$KenGoGitHubMonitorApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kengogithubmonitorapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>