<!-- <h1 class="display-4">Login Form</h1>
<form #loginForm="ngForm" (submit)="loginUser(loginForm)">
    <div class="mb-3">
        <label>Enter Username</label>
    <input type="email" name="userName" required class="form-control" [(ngModel)]="loginModel.userName"/>
</div>
<div class="mb-3">
        <label>Enter Password</label>
    <input type="password" name="password" required class="form-control" [(ngModel)]="loginModel.password"/>
</div>
<input type="submit" value="Log In" class="btn btn-primary"/>
</form> -->



<mat-card>
    <mat-card-title>User Login</mat-card-title>

    <mat-card-content>
        <form class="example-form" #loginForm="ngForm" (submit)="loginUser(loginForm)">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" required name="username" ngModel>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" required name="password" ngModel>
            </mat-form-field>
            <div>
                <button mat-raised-button type="submit" color="primary">Login</button>
                <button mat-raised-button type="password" color="accent" style="margin:5px"
                (click)="RedirectRegister()">Register</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
