<div *ngIf="isSuccessful" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Customer has been Updated</strong>
    <a [routerLink]="'/customer/list'">Go to Customer List</a>

</div>


<h1 class="display-4">Edit Customer</h1>
<hr />
<form [formGroup]="editCustomerForm" >


    <div class="row">
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Customer Name</label>
                <input type="text" formControlName="customerName" class="form-control" />

                <div class="text-danger"
                    *ngIf="editCustomerForm.get('customerName')?.hasError('required') && editCustomerForm.get('customerName')?.touched">
                    Customer is required
                </div>
                <div class="text-danger"
                    *ngIf="editCustomerForm.get('customerName')?.hasError('minlength') && editCustomerForm.get('customerName')?.touched">
                    Minimum 4 characters are required
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Customer Title</label>
                <input type="text" formControlName="customerTitle" class="form-control" />

                <div class="text-danger"
                    *ngIf="editCustomerForm.get('customerTitle')?.hasError('required') && editCustomerForm.get('customerTitle')?.touched">
                    Customer is required
                </div>
                <div class="text-danger"
                    *ngIf="editCustomerForm.get('customerTitle')?.hasError('minlength') && editCustomerForm.get('customerTitle')?.touched">
                    Minimum 2 characters are required
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Customer Phone</label>
                <input type="text" formControlName="customerPhone" class="form-control" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Customer Address</label>
                <input type="text" formControlName="customerAddress" class="form-control" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Customer Postal Code</label>
                <input type="text" formControlName="customerPostalCode" class="form-control" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Customer City</label>
                <input type="text" formControlName="customerCity" class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="form-group mb-3">
            <label>Enter Customer Country</label>
            <input type="text" formControlName="customerCountry" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <select class="form-select" formControlName="customerRegionId">
                <option [ngValue]="null" disabled>Select Region</option>
                <option *ngFor="let r of regionCollection;index as i" [ngValue]="r" >
                    {{ r.name }} 
                </option>
            </select>
            <br>
        </div>
    </div>





    <input type="button" class="btn btn-primary" [disabled]="!editCustomerForm.valid" value="Edit Customer"
        (click)="updateCustomer()" />
</form>