
<h2 [style.color]="colorname" [style.font-size]="font">{{headername | uppercase}}</h2>

<!--Interpolation {{}} and pipe demo-->
<h2 *ngIf="salary>0" [ngClass] = "classname" >{{salary | currency: 'HKD'}}</h2>
<br>

<button [ngStyle]="stylevalue" (click)="Functionclick('click here')">Click Me</button>
<br>

<input [disabled]="isdisabled" #txt (change)="Functionclick(txt.value)" > Event binding
<br>
<br>
<input [(ngModel)] = "headername"> Two way binding 
<br>
<br>

<ul>
    <li *ngFor="let item of colors">{{item}}</li>
</ul>